/* CSS Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}table{border-collapse:collapse;border-spacing:0;}

body {
	font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
	color: #fff;
	text-shadow: 1px 1px #000000;
	background: #000;
	clear: both;
	display: block;
	overflow: hidden;
}
a {
	text-decoration: none;
	color: orange;
}
small {
	font-size: 11px;
}
p {
	margin-bottom: 20px;
}
input[type="text"] {
    border: 1px solid #666;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
    color: #333333;
    font-size: 14px;
	display: inline;
    height: 17px;
    padding: 6px;
}
input[type="submit"] {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #337fed;
	display: inline;
	color:#ffffff;
    font: bold 14px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
    padding: 6px 10px;
	height: 30px;
	text-decoration:none;
	cursor: pointer;
}input[type="submit"]:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}input[type="submit"]:active {
	position:relative;
	top:1px;
}
#overlay { background: url(../img/overlay.png) repeat scroll 0 0 transparent; position:fixed; left:0; top:0; overflow:hidden; z-index:-1; height:100%; width:100%; opacity: 0.5;}
#content {
    background: url("../img/separator.png") no-repeat scroll center 0 rgba(0, 0, 0, 0.25);
    display: none;
    overflow: hidden;
    padding: 20px 0;
}
#content-left, #content-right {
	width: 50%;
	float: left;
	display: inline;
}
#content-left {
	text-align: right;
}
.container {
	
}
#content-left .container {
	padding-right: 20px;
}
#content-right{
	
}
#content-right .container{
	padding-left: 20px;
	float: left;
	
}

#logo {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
#subscribe {
    margin-bottom: 20px;
    overflow: hidden;
}
.stamp {
    display: block;
    margin-bottom: 10px;
}

#message {
    font-size: 20px;
    font-weight: bold;
    line-height: 22px;
}
#response {
	display: none;
}
.message {
	margin-bottom: 0;
}
.warning {
	color: red;
}




/*
	Supersized - Fullscreen Slideshow jQuery Plugin
	Version 3.1.3
	www.buildinternet.com/project/supersized
	
	By Sam Dunn / One Mighty Roar (www.onemightyroar.com)
	Released under MIT License / GPL License
*/
#supersized-loader { position:absolute; top:50%; left:50%; z-index:10; width:60px; height:60px; margin:-30px 0 0 -30px; text-indent:-999em; background-color:#111; background: url(../img/progress.gif) no-repeat center center rgba(0,0,0,0.8); -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}

#supersized { position:fixed; left:0; top:0; overflow:hidden; z-index:-999; height:100%; width:100%; }
#supersized img{ width:auto; height:auto; position:relative; display:none; outline:none; border:none; }
#supersized.speed img { -ms-interpolation-mode:nearest-neighbor; image-rendering: -moz-crisp-edges; }	/*Speed*/
#supersized.quality img { -ms-interpolation-mode:bicubic; image-rendering: optimizeQuality; }			/*Quality*/

#supersized a { z-index:-30; position:absolute; overflow:hidden; top:0; left:0; width:100%; height:100%; background:#111;}
#supersized a.prevslide { z-index:-20; }
#supersized a.activeslide { z-index:-10; }
#supersized a.prevslide img, #supersized a.activeslide img{ display:inline; }

/*Controls Section*/
#controls-wrapper {
    bottom: 0;
    left: 0;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    z-index: 4;
}
#controls { overflow:hidden; height:100%; text-align:right; z-index:5; padding: 0 20px; font-size:11px; text-shadow: none; }
#controls a { color: #fff;  }
